
body {
  font-family: "Nunito Sans", Arial, sans-serif;
  background: #ffffff;
  font-size: 16px;
  line-height: 1.8;
  font-weight: 400;
  color: gray;
  overflow-x: hidden; }

.xaltam{
     width: 25px;
   }
@media (min-width:629px) {
    .mobileoasis {
      display: none;
    }
  }
  @media (max-width:629px) {
    .icons {
      font-size: 0.6rem;
      
    }
  }
  .mobileoasis{
     
    height:70px;
    
  }
  .socialicons i{
    color: 	#eeeeee;
    transition: all 2s ease-in-out;
  } 
  
.txt{
  margin-top: 150px;;
}
.icons i{
  color: #ceb122;
  transition: all 2s ease-in-out;
margin-right: 15px;}
  
 #contact i{
color: #331f0f;
transition: all 2s ease-in-out;
  }

i:hover {
  
  transform: translateY(-5px);
}

.mb-4 i{
  color: grey;
  transition: all 2s ease-in-out;
}
.mb-4 i:hover{
  color:white;
  transform: translateY(-5px);
}
.logo{
height: 50px;
}
.top{
  background: #f7e8a0;
}
@media (max-width:629px) {
  .navbar-toggler {
    margin-right: 10px;
  }
}

p{
  color: #494111;
}
.add{
  background-color: #E1CF74;
}

.topper {
  font-size: 15px;
  width: 100%;
  display: block; }
  @media (max-width: 767.98px) {
    .topper {
      margin-bottom: 10px; } }
  .topper .icon {
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%; }
  .topper .text {
    color: #2B2609;
    padding-left: 15px; }
    .topper .text span {
      width: 100%;
      display: block;
      line-height: 1; }
      .topper .text span:first-child {
        font-weight: 700;
        color: #000000; }
  .topper .d-block {
    width: 100%; }
  .topper .btn {
    width: 100%; }

.searchform {
  height: 54px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  border-radius: 30px; }
.navbar-toggler{
  color: #E1CF74 !important;
  outline: none;
} 
@media (max-width:629px) {
  .nav-link {
    padding: 5px!important;
    font-size: 15px!important;
    
  }
}

.navbar-toggler:focus .navbar-toggler:hover .navbar-toggler:active{
  color: #E1CF74 !important;
  outline: none;
} 
  .question{
    margin-left: -10px;
  }
.hesitate{
  font-size: 20px;
}

.ftco-navbar-light {
  background-color: #131313!important;
  background-image: linear-gradient(45deg, #2f2f2f 0%, #202020 11%, #313131 26%, #331f0f 60%, #7d5d36 84%, #ae8849 100%);
  position: fixed;
  z-index: 99;
  width: 100%;
  padding: 0; }
  @media (max-width:629px) {
    img.oasis {
      display: none;
    }
  }
  
  .ftco-navbar-light .navbar-nav > .nav-item > .nav-link {
    font-size: 20px;
    padding-top: 1.2rem;
    padding-bottom: 1.2rem;
    padding-left: 20px;
    padding-right: 20px;
    font-weight: 400;
    color: #bdab52;
    opacity: 1 !important; 
    transition: all 2s ease-in-out;}
    .ftco-navbar-light .navbar-nav > .nav-item > .nav-link:hover {
      color: #dfc752;
    font-size: 25px; }
.navbar-brand {
  font-weight: 800;
  font-size: 30px;
  padding: 0;
  margin-left: -15px!important;
  line-height: 1; }
  @media(max-width:629px) {
    .navbar-brand {
      display: contents;
    }
  }
  .oasis{
    width: 250px!important;

  }
.owl-carousel {
  position: relative; 
background: #ffffff;}

    .owl-carousel .owl-nav .owl-prev,
    .owl-carousel .owl-nav .owl-next {
      position: absolute;
      -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      transform: translateY(-50%);
      margin-top: -10px;
      color: #2B2609 !important;
      -moz-transition: all 0.7s ease;
      -o-transition: all 0.7s ease;
      -webkit-transition: all 0.7s ease;
      -ms-transition: all 0.7s ease;
      transition: all 0.7s ease;
      opacity: 0; }
      .owl-carousel .owl-nav .owl-prev span:before,
      .owl-carousel .owl-nav .owl-next span:before {
        font-size: 30px; }
    
    .owl-carousel .owl-dots .owl-dot {
      width: 10px;
      height: 10px;
      margin: 5px;
      border-radius: 50%;
      background: #e6e6e6;
      position: relative; }
      .owl-carousel .owl-dots .owl-dot:hover, .owl-carousel .owl-dots .owl-dot:focus {
        outline: none !important; }
      .owl-carousel .owl-dots .owl-dot.active {
        background: #b3b3b3; }
        
        
  .owl-carousel.home-slider {
    position: relative;
    height: 600px;
    z-index: 0; }
    .owl-carousel.home-slider .slider-item {
      background-size: cover;
      background-repeat: no-repeat;
      background-position: top center;
      height: 600px;
      position: relative;
      z-index: 0; }
     
      .owl-carousel.home-slider .slider-item .overlay {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background: #000000;
        opacity: .3; }
      .owl-carousel.home-slider .slider-item .slider-text {
        height: 600px; }
        @media (max-width: 767.98px) {
          .owl-carousel.home-slider .slider-item .slider-text {
            text-align: center; } }
        .owl-carousel.home-slider .slider-item .slider-text .text {
          position: relative; }
        .owl-carousel.home-slider .slider-item .slider-text h1 {
          font-size: 60px;
          color: #fff;
          line-height: 1.2;
          font-weight: 900; }
          .owl-carousel.home-slider .slider-item .slider-text h1 span {
            display: block; }
          @media (max-width: 991.98px) {
            .owl-carousel.home-slider .slider-item .slider-text h1 {
              font-size: 40px; } }
        .owl-carousel.home-slider .slider-item .slider-text .subheading {
          font-size: 14px;
          margin-top: 50px!important;
          font-weight: 700;
          text-transform: uppercase;
          color: white;
          letter-spacing: 2px; }
        
    .owl-carousel.home-slider .owl-dots {
      position: absolute;
      left: 0;
      right: 0;
      bottom: 20px;
      width: 100%;
      text-align: center; }
      .owl-carousel.home-slider .owl-dots .owl-dot {
        width: 10px;
        height: 10px;
        margin: 5px;
        border-radius: 50%;
        background: #e7b322 ; }
        .owl-carousel.home-slider .owl-dots .owl-dot.active {
          background: #fff; }

.btn {
  cursor: pointer;
  -webkit-border-radius: 40px;
  -moz-border-radius: 40px;
  -ms-border-radius: 40px;
  border-radius: 40px;
  -webkit-box-shadow: none !important;
  box-shadow: none !important; }
  .btn:hover, .btn:active, .btn:focus {
    outline: none; }
  .btn.btn-primary {
    background: #c0a72b;
    color: #fff; 
  border:#dbbd28 }
.img-2 {
  background-position: top center !important; }
  @media (max-width: 767.98px) {
    .img-2 {
      height: 300px;
      margin-bottom: 40px; } }

.wrap-about {
  position: relative; }
  .wrap-about .wrap-about-border {
    border: 4px solid #e2dd96;
    padding: 20px; }
  .wrap-about h3 {
    font-weight: 700;
    font-size: 20px; }
  .wrap-about h2 {
    font-weight: 700; }
  .wrap-about .img {
    width: 100%;
    height: 300px;
    margin-bottom: 20px; }
  @media (max-width: 767.98px) {
    .wrap-about {
      margin-bottom: 30px; } }

.services {
  display: block;
  width: 100%;
  position: relative;
  background: #e2dd96;
  padding: 20px 30px;
  margin-bottom: 20px;
  margin-top: 10px;

  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  transition: all 0.3s ease; }
  .services:after {
    position: absolute;
    top: 0;
    right: 0;
    content: '';
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 50px 50px 0;
    border-color: transparent #fff transparent transparent; }
  .services .icon {
    line-height: 1.3;
    position: relative;
    margin: 0 auto;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%; }
    .services .icon span {
      font-size: 50px;
      color: #2B2609; }
  @media (max-width: 767.98px) {
    .services .media-body {
      padding-bottom: 3.5em !important; } }
  .services .media-body h3 {
    font-weight: 700;
    font-size: 20px;
    color: #2B2609; }
  .services.active, .services:hover {
    background: #E6D788; }
    .services.active .icon span, .services:hover .icon span {
      color: #fff; }
    .services.active .media-body, .services:hover .media-body {
      color: rgba(255, 255, 255, 0.9); }
      .services.active .media-body h3, .services:hover .media-body h3 {
        color: #fff; }

.services-2 {
  border-left: 1px solid rgba(0, 0, 0, 0.05);
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
  width: 100%;
  padding: 30px;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  transition: all 0.3s ease; }
  .services-2.noborder-left {
    border-left: none; }
  .services-2.noborder-bottom {
    border-bottom: none; }
  @media (max-width: 991.98px) {
    .services-2 {
      border-left: none; }
      .services-2.noborder-bottom {
        border-bottom: 1px solid rgba(0, 0, 0, 0.05); } }
  .services-2 .icon span {
    font-size: 50px;
    color: #E6D788; }
  .services-2 h3 {
    font-size: 20px;
    font-weight: 700;
    color: black;
}
  .services-2:hover {
    background: #E6D788;
    -webkit-box-shadow: 0px 0px 27px -16px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 27px -16px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 27px -16px rgba(0, 0, 0, 0.75);
    border: none; }
    .services-2:hover .icon span {
      color: #fff; }
    .services-2:hover .media-body {
      color: rgba(255, 255, 255, 0.9); }
      .services-2:hover .media-body h3 {
        color: #fff; }
.form-control {
  height: 42px !important;
  background: #fff !important;
  color: #000000 !important;
  font-size: 15px;
  border-radius: 5px;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  border: 1px solid rgba(0, 0, 0, 0.1); }
  .form-control:focus, .form-control:active {
    border-color: #000000; }


    
    
    /* arrow */
    #button {
      display: inline-block;
      background-color: #ffbb00;
      width: 50px;
      height: 50px;
      text-align: center;
      border-radius: 4px;
      margin: 10px;
      position: fixed;
      bottom: 30px;
      right: 30px;
      transition: background-color .3s;
      z-index: 1000;
    }
    #button:hover {
      cursor: pointer;
      background-color: #333;
    }
    #button:active {
      background-color: #555;}
    .row{
margin: 0px;
    }
  
  #button::after {
    content: "\f077";
    font-family: FontAwesome;
    font-weight: normal;
    font-style: normal;
    font-size: 2em;
    line-height: 50px;
    color: #fff;
  }
  
   /* arrow end */
textarea.form-control {
  height: inherit !important; }

.ftco-animate {
  opacity: 0;
  visibility: hidden; }

.bg-primary {
  background: #2B2609 !important; }

.about-author .desc h3 {
  font-size: 24px; }

.ftco-section {
  padding: 0em;
  position: relative; 
  
}

.ftco-no-pt {
  padding-top: 0; }

.ftco-no-pb {
  padding-bottom: 0; }

.ftco-footer {
  font-size: 14px;
  background: rgb(41, 38, 38);
  padding-bottom: 0em;
z-index: 10; }
  .ftco-footer .ftco-footer-widget {
    width: 100%;
    display: block; }
    .ftco-footer .ftco-footer-widget h2 {
      font-weight: normal;
      color: #fff;
      margin-bottom: 10px;
      font-size: 20px;
      font-weight: 700; }
    .ftco-footer .ftco-footer-widget .logo {
      color: #2B2609; }
      
    .ftco-footer .ftco-footer-widget ul li a span {
      color: #fff; }
.button {
      background: #dbbe2d!important;
      border: 2px solid #fff !important; 
    color: #5f5313}
.button:hover {
        background: #6C5E17!important;
        border: 2px solid #6C5E17 !important;
      color: white; }
  .ftco-footer p {
    color: rgba(255, 255, 255, 0.7); }
  .ftco-footer a {
    color: #dadada; }
    .ftco-footer a:hover {
      color: #fff;
    text-decoration: none;
  }
  .ftco-footer .ftco-heading-2 {
    font-size: 17px;
    font-weight: 400;
    color: #000000; }
  .ftco-footer .categories li {
    border-bottom: 1px solid rgba(255, 255, 255, 0.1); }
    .ftco-footer .categories li a span {
      color: rgba(255, 255, 255, 0.5) !important; }
  
    .ftco-footer .subscribe-form .form-group input {
      -webkit-border-radius: 2px;
      -moz-border-radius: 2px;
      -ms-border-radius: 2px;
      border-radius: 2px;
      width: 100%;
      background: rgba(255, 255, 255, 0.1) !important;
      border: none;
      color: rgba(255, 255, 255, 0.7) !important;
      font-size: 16px; }
      .ftco-footer .subscribe-form .form-group input::-webkit-input-placeholder {
        /* Chrome/Opera/Safari */
        color: rgba(255, 255, 255, 0.7) !important; }
      .ftco-footer .subscribe-form .form-group input::-moz-placeholder {
        /* Firefox 19+ */
        color: rgba(255, 255, 255, 0.7) !important; }
      .ftco-footer .subscribe-form .form-group input:-ms-input-placeholder {
        /* IE 0+ */
        color: rgba(255, 255, 255, 0.7) !important; }
      .ftco-footer .subscribe-form .form-group input:-moz-placeholder {
        /* Firefox 18- */
        color: rgba(255, 255, 255, 0.7) !important; }
    .ftco-footer .subscribe-form .form-group .submit {
      color: #fff !important;
      font-size: 16px;
      background: #2B2609!important;
      border: none !important;
      -webkit-border-radius: 2px;
      -moz-border-radius: 2px;
      -ms-border-radius: 2px;
      border-radius: 2px;
      -moz-transition: all 0.3s ease;
      -o-transition: all 0.3s ease;
      -webkit-transition: all 0.3s ease;
      -ms-transition: all 0.3s ease;
      transition: all 0.3s ease; }
      .ftco-footer .subscribe-form .form-group .submit:hover {
        cursor: pointer;
        background: #2B2609 !important; }
  .ftco-footer .subscribe-form .icon {
    position: absolute;
    top: 50%;
    right: 20px;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    color: rgba(255, 255, 255, 0.8); }
  .ftco-footer .block-21 .text .heading {
    font-weight: 400;
    font-size: 16px; }
    .ftco-footer .block-21 .text .heading a {
      color: rgba(255, 255, 255, 0.9); }
      .ftco-footer .block-21 .text .heading a:hover, .ftco-footer .block-21 .text .heading a:active, .ftco-footer .block-21 .text .heading a:focus {
        color: #2B2609; }
  .ftco-footer .block-21 .text .meta > div {
    display: inline-block;
    font-size: 12px;
    margin-right: 5px; }
    .ftco-footer .block-21 .text .meta > div a {
      color: gray; }

      .ftco-footer-social li {
        list-style: none;
        margin: 0 10px 0 0;
        display: inline-block; }
        .ftco-footer-social li a {
          height: 40px;
          width: 40px;
          display: block;
          float: left;
          background: rgba(255, 255, 255, 0.05);
          border-radius: 50%;
          position: relative; }
          .ftco-footer-social li a span {
            position: absolute;
            font-size: 20px;
            top: 50%;
            left: 50%;
            -webkit-transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%); }
          .ftco-footer-social li a:hover {
            color: #fff; }
#map {
  width: 100%;
height: 610px;
margin-bottom: -10px;
padding: 0px; }
  @media (max-width: 767.98px) {
    #map {
      height: 300px; } }

@-webkit-keyframes pulse {
  0% {
    -webkit-box-shadow: 0 0 0 0 #2B2609; }
  70% {
    -webkit-box-shadow: 0 0 0 30px #2B2609; }
  100% {
    -webkit-box-shadow: 0 0 0 0 #2B2609; } }

@keyframes pulse {
  0% {
    -moz-box-shadow: 0 0 0 0 #2B2609;
    -webkit-box-shadow: 0 0 0 0 #2B2609;
    box-shadow: 0 0 0 0 #2B2609; }
  70% {
    -moz-box-shadow: 0 0 0 30px #2B2609;
    -webkit-box-shadow: 0 0 0 30px #2B2609;
    box-shadow: 0 0 0 30px #2B2609; }
  100% {
    -moz-box-shadow: 0 0 0 0 #2B2609;
    -webkit-box-shadow: 0 0 0 0 #2B2609;
    box-shadow: 0 0 0 0 #2B2609; } }

.heading-section .subheading {
  font-weight: 500;
  font-size: 16px;
  display: block;
  margin-bottom: 0;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: rgba(0, 0, 0, 0.9);
  position: relative; }

.heading-section h2 {
  font-size: 34px;
  font-weight: 700; }
  @media (max-width: 767.98px) {
    .heading-section h2 {
      font-size: 28px; } }

.heading-section.heading-section-white .subheading {
  color: rgba(255, 255, 255, 0.7); }

.heading-section.heading-section-white h2 {
  color: #fff; }

.heading-section.heading-section-white p {
  color: rgba(255, 255, 255, 0.9); }

.heading-section.heading-section-black h2 {
  color: #000000; }


.img {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center; }


@media (max-width: 767.98px) {
  .about-image {
    height: 400px;
    margin-bottom: 30px; } }


.ftco-intro {
  position: relative;
  padding: 3em 0;
  z-index: 0; }
  .ftco-intro:after {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    content: '';
    z-index: -1;
    opacity: .8;
    background: #e6d788;
   }
  .ftco-intro .btn {
    width: 100%; }
  .ftco-intro h2 {
    line-height: 1.2;
    color: #2B2609 !important;
  }

#section-counter {
  position: relative;
  z-index: 0;
  padding-bottom: 1em; }

.wrapper {
  width: 100%;
  max-width: 1110px;
  background: #786618;
  padding: 30px;
  -webkit-box-shadow: 0px 5px 18px -9px rgba(0, 0, 0, 0.14);
  -moz-box-shadow: 0px 5px 18px -9px rgba(0, 0, 0, 0.14);
  box-shadow: 0px 5px 18px -9px rgba(0, 0, 0, 0.14); }

  .ftco-counter .text strong.number {
    font-weight: 600;
    font-size: 40px;
    color: #2B2609;
    display: block;
    position: relative; }
    .ftco-counter .text strong.number:after {
      position: absolute;
      bottom: 5px;
      left: 0;
      content: '';
      width: 35px;
      height: 2px;
      background: #E1CF74; }
      .ftco-counter .text span {
        display: block;
        font-size: 14px;
        color: #2B2609;
        text-transform: uppercase;
        letter-spacing: 1px;
        font-weight: 800; }
.block-23{
  margin-left: -45px;
}
.block-23 span {
  color: white;
  text-decoration: none;

}
.block-23 li{
  list-style: none;
}
.contact-section .contact-info p a {
  color: #1a1a1a; }

.contact-section .contact-info p span {
  display: block;
  font-size: 18px;
  font-weight: 600;
  color: #000000; }

.contact-section .contact-info .icon span {
  font-size: 20px; }

.contact-section .contact-form {
  width: 100%; }
#map {
  height: 600px; }
#ftco-loader {
  position: fixed;
  width: 96px;
  height: 96px;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  background-color: rgba(255, 255, 255, 0.9);
  -webkit-box-shadow: 0px 24px 64px rgba(0, 0, 0, 0.24);
  box-shadow: 0px 24px 64px rgba(0, 0, 0, 0.24);
  border-radius: 16px;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: opacity .2s ease-out, visibility 0s linear .2s;
  -o-transition: opacity .2s ease-out, visibility 0s linear .2s;
  transition: opacity .2s ease-out, visibility 0s linear .2s;
  z-index: 1000; }

#ftco-loader.fullscreen {
  padding: 0;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  -webkit-transform: none;
  -ms-transform: none;
  transform: none;
  background-color: #fff;
  border-radius: 0;
  -webkit-box-shadow: none;
  box-shadow: none; }

#ftco-loader.show {
  -webkit-transition: opacity .4s ease-out, visibility 0s linear 0s;
  -o-transition: opacity .4s ease-out, visibility 0s linear 0s;
  transition: opacity .4s ease-out, visibility 0s linear 0s;
  visibility: visible;
  opacity: 1; }

#ftco-loader .circular {
  -webkit-animation: loader-rotate 2s linear infinite;
  animation: loader-rotate 2s linear infinite;
  position: absolute;
  left: calc(50% - 24px);
  top: calc(50% - 24px);
  display: block;
  -webkit-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  transform: rotate(0deg); }

#ftco-loader .path {
  stroke-dasharray: 1, 200;
  stroke-dashoffset: 0;
  -webkit-animation: loader-dash 1.5s ease-in-out infinite;
  animation: loader-dash 1.5s ease-in-out infinite;
  stroke-linecap: round; }
  .rights{
margin-top: 53px;
  }
  .copy{
    margin-top: 79px;

  }
.power{
  margin-top: 60px;

}
@-webkit-keyframes loader-rotate {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }

@keyframes loader-rotate {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }

@-webkit-keyframes loader-dash {
  0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0; }
  50% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -35px; }
  100% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -136px; } }

@keyframes loader-dash {
  0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0; }
  50% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -35px; }
  100% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -136px; } }
